h1{
    color: rgba(97, 172, 36, 0.224);
    border: 3px solid pink;
}

.list-item-1{
    border: 4px solid rebeccapurple;
    border-radius: 10%;
}
/* mne nado */

.container-1{
    border: 6px double slategrey;
    border-bottom-right-radius: 60%;
}
.list-item-2{
    background-color: aqua;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -20px;
}
.list-item-3{
    margin: 9px;
}
